# Application
wp-content/plugins/*
wp-content/mu-plugins/*/
wp-content/themes/twentytwentythree/
wp-content/upgrade
wp-content/uploads/*
wp-content/themes/hyperclub-blog/vendor
wp-content/themes/hyperclub-blog/vendor/*
!web/app/uploads/.gitkeep
wp-content/languages/*
wp-content/cache/*
wp-content/themes/hyperclub-blog/cache/*
.vscode
wp-config.php



# WordPress
wp-content/wp
wp-content/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
web/app/backups-dup-pro/


node_modules

