.connect-section {
  margin-top: 32px;

  @media (min-width: 768px) {
    margin-top: 56px;
  }

  @media (min-width: 1280px) {
    margin-top: 135px;
  }

  .connect-container {
    height: 100%;
    border-radius: 16px;
    border: 0.5px solid #9f9f9f;
    overflow: hidden;

    .connect-header {
      padding: 16px;
      background: linear-gradient(
        135deg,
        rgba(17, 17, 17, 0.6) 0%,
        transparent 100%
      );
      position: relative;

      .connect-content {
        padding: 16px;
        height: 100%;
        background-image: url("../images/connect_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        border-radius: 16px;

        .connect-wrapper {
          padding-left: 16px;
          padding-right: 16px;

          display: flex;
          flex-direction: column;
          align-items: center;

          .connect-subtitle {
            font-size: 18px;
            text-transform: uppercase;
            border-bottom: 1px solid;
            padding-bottom: 16px;
            text-align: center;
            color: #9f9f9f;
          }

          .connect-title {
            color: #fff;
            margin-top: 16px;
            text-align: center;
            font-size: 20px;
            line-height: 1.5;
            font-weight: 400;

            @media (min-width: 1024px) {
              font-size: 36px;
            }

            b {
              font-weight: 700;
            }
          }

          .connect-description {
            text-align: center;
            padding: 32px 0;
            color: #9f9f9f;
            line-height: 1.6;
            max-width: 800px;
            font-size: 16px;

            b {
              font-weight: 700;
              color: #fff;
            }
          }

          .connect-button-container {
            width: 100%;

            @media (min-width: 1024px) {
              max-width: 255px;
              padding-bottom: 40px;
            }

            .connect-button {
              display: block;
              width: fit-content;
              padding: 12px 32px;
              margin: 0 auto;
              text-align: center;

              border: 1px solid;
              border-radius: 8px;
              font-weight: 600;
              transform: scale(1);
              transition: all 0.2s ease;
              border-color: #2fac8c;
              color: #fff;
              font-size: 16px;
              background: linear-gradient(
                to right,
                #2fac8c,
                rgba(47, 172, 140, 0.2)
              );
              cursor: pointer;

              @media (min-width: 768px) {
                font-size: 18px;
              }

              &:hover {
                opacity: 0.8;
                transition: opacity 0.2s ease;
              }

              &:active {
                transform: scale(0.95);
              }

              &:disabled {
                &:active {
                  transform: scale(1);
                }
              }

              @media (max-width: 1023px) {
                margin-bottom: 24px;
              }
            }
          }
        }
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 1023px) {
  .connect-section {
    .connect-container {
      .connect-header {
        .connect-content {
          .connect-wrapper {
            padding-left: 16px;
            padding-right: 16px;

            .connect-title {
              font-size: 20px;
            }

            .connect-description {
              padding: 24px 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .connect-section {
    margin-top: 24px;

    .connect-container {
      .connect-header {
        .connect-content {
          .connect-wrapper {
            .connect-subtitle {
              font-size: 16px;
            }

            .connect-title {
              font-size: 18px;
            }

            .connect-description {
              font-size: 14px;
              padding: 16px 0;
            }
          }
        }
      }
    }
  }
}
