@import "fonts";

.footer-section {
  width: 100%;
  background-color: rgb(19 19 19 / 1);
  position: relative;
  overflow: hidden;

  .footer {
    max-width: 1290px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
      gap: 20px;
    }

    .footer-first {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media screen and (max-width: 1024px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      @media screen and (max-width: 768px) {
        gap: 10px;
      }
      .footer-logo {
        color: #fff;
        font-size: 20px;
        font-family: "Montserrat-700";
        line-height: normal;
        display: flex;
        height: fit-content;
        align-items: center;
        gap: 7px;
        cursor: pointer;
        a {
          display: flex;
          align-items: center;
          gap: 7px;
        }
        @media screen and (max-width: 768px) {
          font-size: 13px;
        }
        .logo-image {
          max-width: 35px;
          width: 100%;
          @media screen and (max-width: 768px) {
            max-width: 20px;
          }
        }
      }
      .footer-privacy-block {
        .footer-privacy {
          color: #9f9f9f;

          font-family: "Montserrat-300";
          font-size: 11px;
          line-height: 16px;
          letter-spacing: 0.1px;
        }
      }
    }
    .footer-second {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: flex-end;
      @media screen and (max-width: 1024px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .footer-nav {
        ul {
          display: flex;
          gap: 24px;
          @media screen and (max-width: 1024px) {
            flex-direction: column;
            gap: 7px;
          }
          li {
            a {
              color: #9f9f9f;
              font-family: "Montserrat-500";
              font-size: 13px;
              line-height: 16px;
              letter-spacing: -0.13px;
              transition: color 0.2s ease;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
      .footer-social-list {
        display: flex;
        gap: 32px;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
          gap: 20px;
        }
        li {
          a {
            display: block;
            width: 24px;
            height: 24px;
            transition: filter 0.3s ease;

            &:hover {
              color: #d8b35d;

              img {
                filter: brightness(0) saturate(100%) invert(72%) sepia(31%)
                  saturate(800%) hue-rotate(359deg) brightness(110%)
                  contrast(89%);
              }
            }

            img {
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }
}
